* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css start */
.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* common css end */

/* header start */

.banner {
    background: url(../images/banner/banner2.png);
    padding: 167px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-body {
    display: flex;
    justify-content: end;
}

.banner-text {
    width: 400px;
    text-align: end;
}

.banner-text h1 {
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 24px;
}

.banner-text p {
    padding-bottom: 34px;
}

.banner-text a {
    font-weight: 600;
    font-size: 20px;
    padding: 15px 26px;
    background: #F15B22;
    border-radius: 5px;
    color: white;
}

/* header end */

/* fuilures section start */
.failures {
    padding: 100px 0;
    background-color: rgb(233, 230, 230);
}

.failures-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.failures-left {
    width: 50%;
}

.failures-left img {
    /* background-color: blueviolet; */
    width: 100%;
}

.failures-right {
    width: 50%;
    display: flex;
    justify-content: end;
}

.failures-text {
    width: 395px;
}

.failures-text h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.failures-text p {
    margin-bottom: 16px;
}

span i {
    color: #16D887;
    margin-right: 10px;

}

/* fuilures section end */

/* plans section start */
.plans {
    padding: 100px 0;
    background-color: rgb(233, 230, 230);

}

.plans-body {
    display: flex;
    justify-content: space-between;
}

.plans-cart {
    text-align: center;
}

.cart-body h3 {
    font-size: 30px;
}

/* plans section end */

/* positive section start */
.positive {
    padding: 100px 0;
    background-color: rgb(233, 230, 230);
}

.positive-body {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 59px 64px;
    border-radius: 8px;
}

.positive-text {
    width: 400px;
}

.positive-text h2 {
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-bottom: 24px;
}

.positive-text a {
    font-weight: 600;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    color: #F15B22;
    background-color: white;
}

/* positive section end */

/* send section start */
.send {
    padding: 100px 0;
    background-color: rgb(233, 230, 230);
}

.send-body {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.send-left {
    background: linear-gradient(90deg, rgba(241, 91, 34, 0.3) 0%, rgba(241, 91, 34, 0.3) 100%), url("../images/woman-writing-on-paper-3228878.png");
    width: 50%;
    padding: 70px;
}

.send-left-text {
    color: white;
}

.send-left-text h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 24px;
}

.send-right {
    background-color: #ff7b47;
    width: 50%;
    padding: 70px;
    color: white;
}

.send-right-text h3 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 15px;
}

.send-right-text p {
    margin-bottom: 25px;
}

.send-form {
    display: flex;
    flex-direction: column;
}

.send-form input {
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: none;
}


.send-form button {
    padding: 15px 15px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    font-size: 18px;

    color: #F15B22;
}

.send-form button:hover {
    background-color: rgb(125, 125, 255);
    color: white;
}

/* send section end */